In [22]:
import pandas as pd
import geopandas as gpd
import matplotlib as plt

Importing the Data

In [23]:
df=pd.read_csv('CarsData.csv')
df.sample(10)

,Brand,Type,Manufacture_year,Mileage,Price,Body_type,Fuel,Horse_Power,Gear_box,Transmission,Color,Governorate,Address
2460,Ssangyong,Tivoli Secure,07-2021,36 000 km,73 000 DT,Compacte,Essence,6 ...,Manuelle,Traction,Noir,Tunis,ADRESSE :Sidi daoud route gp9 direction la mar...
257,Mazda,3 sedan,08-2018,111 000 km,55 000 DT,Citadine,Essence,6 ...,Manuelle,Traction,Blanc,Ben Arous,ADRESSE :TUNISIE AUTO PRIX EZZAHRA Sortie Auto...
2370,Mercedes-Benz,Classe C,11-2012,270 000 km,49 000 DT,Berline,Essence,9 ...,Manuelle,Traction,Noir,Ariana,ADRESSE :ariana
3325,BMW,Série 4 Coupé,09-2020,18 000 km,165 000 DT,Coupé,Essence,7 ...,Automatique,Traction,Noir,Tunis,"ADRESSE :11 Rue Khaled Ibn Walid, Mutuelle-vil..."
1267,Mercedes-Benz,Classe X X250d,01-2019,98 000 km,195 000 DT,SUV/4x4,Diesel,8 ...,Automatique,Intégrale,Blanc,Ariana,ADRESSE :Boulevard du Grand Maghreb Arabe Ariana
2472,Skoda,Octavia,06-2015,118 000 km,46 000 DT,Citadine,Essence,7 ...,Automatique,Traction,Noir,Tunis,ADRESSE :Sidi daoud route gp9 direction la mar...
989,Honda,CR-V,12-2022,12 700 km,155 000 DT,Autres,Essence,11 ...,Automatique,Intégrale,Gris Shark,Sousse,ADRESSE :Sousse
2025,KIA,Rio 5p,02-2019,75 000 km,51 000 DT,Compacte,Essence,5 ...,Manuelle,Intégrale,Noir,Nabeul,ADRESSE :Nabeul
187,Porsche,Cayenne,12-2007,191 000 km,69 000 DT,Citadine,Essence,21 ...,Automatique,Traction,Noir,Ariana,ADRESSE :VOC TUNISIE AUTO PRIX ENNASER ROUTE X...
3461,Mercedes-Benz,Classe C Avant Garde,03-2016,105 000 km,126 000 DT,Berline,Essence,8 ...,Automatique,Propulsion,Noir,Mahdia,ADRESSE :Chebba

Cleaning and setting up the Data

In [24]:
df['Price']=df['Price'].str.replace('DT','')
df['Price']=df['Price'].str.replace(' ','')
df=df.rename(columns={'Price':'Price(DT)'})

In [25]:
df['Mileage']=df['Mileage'].str.replace('km','')
df['Mileage']=df['Mileage'].str.replace(' ','')
df=df.rename(columns={'Mileage':'Mileage(Km)'})

In [26]:
df['Address']=df['Address'].str.replace('ADRESSE :','')

In [27]:
df['Horse_Power']=df['Horse_Power'].str.replace('cv','CV')

In [28]:
df['Manufacture_year']=pd.to_datetime (df['Manufacture_year'] , format='%m-%Y')

In [30]:
df['Mileage(Km)'] = df['Mileage(Km)'].astype(int)
df['Price(DT)'] = df['Price(DT)'].astype(int)

In [31]:
df.dtypes

Brand                       object
Type                        object
Manufacture_year    datetime64[ns]
Mileage(Km)                  int32
Price(DT)                    int32
Body_type                   object
Fuel                        object
Horse_Power                 object
Gear_box                    object
Transmission                object
Color                       object
Governorate                 object
Address                     object
dtype: object

In [32]:
df

,Brand,Type,Manufacture_year,Mileage(Km),Price(DT),Body_type,Fuel,Horse_Power,Gear_box,Transmission,Color,Governorate,Address
0,Volkswagen,Golf 7,2012-12-01,264500,42000,Compacte,Essence,5 ...,Manuelle,Traction,Blanc,Tunis,AIN ZAGHOUANE
1,Mercedes-Benz,Classe A,2021-01-01,50000,165000,Utilitaire,Hybride (essence/électrique),6 ...,Automatique,Traction,Noir,Tunis,Show Room HBIB AUTO : Route de la Marsa km 13 ...
2,Land,Rover Range Rover Sport HSE TU 239,2014-05-01,90000,238000,SUV/4x4,Essence,24 ...,Automatique,Traction,Vert,Tunis,Show Room HBIB AUTO : Route de la Marsa km 13 ...
3,Mercedes-Benz,Classe S KIT AMG jantes 20’’,2010-04-01,165000,125500,Berline,Essence,18 ...,Automatique,Traction,Noir,Tunis,Show Room HBIB AUTO : Route de la Marsa km 13 ...
4,BMW,Série 5 LUXYRY LINE,2018-04-01,46000,183000,Berline,Essence,10 ...,Automatique,Traction,Blanc,Tunis,Show Room HBIB AUTO : Route de la Marsa km 13 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,KIA,Sportage SX 2022,2022-09-01,14000,162500,Monospace,Essence,10 ...,Automatique,Traction,Noir,La Manouba,Manouba residence yassine cité les orangers
3500,Toyota,Aygo,2019-08-01,75000,30000,Compacte,Essence,4 ...,Manuelle,Traction,Rouge,Monastir,Skanes Monastir
3501,MG,ZS,2019-11-01,75000,70000,Autres,Essence,7 ...,Automatique,Intégrale,Noir,Tunis,LAC 1
3502,Fiat,500 2009,2009-08-01,175000,23000,Citadine,Essence,4 ...,Manuelle,Traction,Noir,Ben Arous,Rades
3503,Nissan,Micra,2018-06-01,49400,34500,Citadine,Essence,5 ...,Manuelle,Traction,Blanc,Tunis,Ariana